body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1 {
    font-size: 24px;
    color: #00796b;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    color: #004d40;
    margin-bottom: 5px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #80cbc4;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input:focus, select:focus {
    border-color: #00796b;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 121, 107, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

.add-point-btn {
    background-color: #004d40;
    margin-bottom: 10px;
}

.add-point-btn:hover {
    background-color: #00251a;
}